<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ceneo Web Scraper</title>
    <!-- CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css">
     <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"/>
     <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap5.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>

<body id="body">
    <header>
        <div class="container-fluid">
            <a class="nav-link" href="{{ url_for('index') }}">
                <h1>Ceneo Web Scraper</h1>
            </a>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top d-flex">
        <div class="container-fluid">
            <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Strona główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('extract') }}">Ekstrakcja opinii</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('products') }}">Lista produktów</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('author') }}">O autorze</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div class="container">
            {% block content %}
                <p></p>
            {% endblock content %}
        </div>
    </main>

    <footer>
        <div class="container-fluid bg-dark">
            <P>&copy; Michał Warszawski UEK</P>
        </div>  
    </footer>

    <!-- JS -->
    {% block scripts %}
        <p></p>
    {% endblock scripts %}
</body>

</html>