{% extends "base.html.jinja" %}
{% block content %}
     <section>
        <div class="row">
            <div class="col">
                {{description}}
            </div>
        </div>
    </section>    
{% endblock content %}

{% block scripts%}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
        $("table").addClass("table table-responsive table-bordered");
    </script>
{%endblock scripts%}